*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: auto;
    height: auto;
}

.kh-container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

section{
    position: relative;
    overflow: hidden;
    text-align: center;
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
}

.kh-box1{
    filter(background): blur(5px);
    object-fit: cover;
    background: url(../media/video/fomi.mp4);
    scroll-behavior: smooth;
}



.kh-box2{
    filter(background): blur(5px);
    object-fit: cover;
    background-image: url(../media/image/dog-img1.jpg);
    scroll-behavior: smooth;
}



.kh-box3{
    filter(background): blur(5px);
    object-fit: cover;
    background-image: url(../media/image/dog-img2.jpg);
    scroll-behavior: smooth;
}


video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --------------------------------
kh-video{
    width: 100%;
    scroll-behavior: smooth;
}


*/
.kh-text{
    top: 50%;
    width: 100%;
    background-color: greenyellow;
}

.kh-text p{
    margin-top: -24px;
    text-align: center;
    font-size: 48px;
    color: #ffffff;
}

/*
.kh-floating{
    position: absolute;
    right: 50%;
    top: 180px;
    margin-right: -720px;
    text-align: center;
    width: 100px;
    background-color: greenyellow;
    border: solid grey;
    border-radius: 8px;
}

.kh-floating div:nth-child(1){
    border: 2px solid grey;
    border-radius: 8px;
}

.kh-floating div:nth-child(2){
    border: 2px solid grey;
    border-radius: 8px;
}

.kh-floating div:nth-child(3){
    border: 2px solid grey;
    border-radius: 8px;
}
 */